map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      close;
}
server {
        server_name {{ www_domain }};
        return 301 $scheme://{{ domain }}$request_uri;

    listen [::]:443 ssl http2;
    listen 443 ssl http2;
    ssl_certificate /config/etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /config/etc/letsencrypt/live/{{ domain }}/privkey.pem;
}
server {
        server_name {{ domain }};

        location / {
                proxy_pass http://homer:8080;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
        }

        location /socket.io/ {
                proxy_pass http://homer:8080;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection $connection_upgrade;
        }

        location /.well-known/matrix {
                proxy_pass https://{{ matrix_host }}/.well-known/matrix;
                proxy_set_header X-Forwarded-For $remote_addr;
        }

        location /rooms.html {
                root /config/www;
                autoindex off;
        }

    listen [::]:443 ssl http2;
    listen 443 ssl http2;
    ssl_certificate /config/etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /config/etc/letsencrypt/live/{{ domain }}/privkey.pem;
    # include options-ssl-nginx.conf;
    # ssl_dhparam ssl-dhparams.pem;
}
