<!doctype html>
<html>
<head>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
  function inheritStyle() {
    if (parent) {
      $("style", window.parent.document).clone().appendTo("head");
      $("link[rel='stylesheet']", window.parent.document).clone().appendTo("head");
    }
  }

  function refresh() {
    $.getJSON('https://{{ jitsi_domain }}/rooms', function(data) {
      $("#rooms").empty();
      
      $.each(data, function(_, room) {
        var room_name = decodeURIComponent(room.jid.split("@")[0]);
        var row = $('<p>');
        $('<a>', {
          target: 'blank',
          rel: 'noopener noreferrer',
          href: 'https://{{ jitsi_domain }}/' + room_name,
          text: room_name,
        })
        .appendTo(row);
        
        $(document.createTextNode(': ' + $.map(room.participants, function(participant, _) {
          return participant.display_name;
        }).join(', ')))
        .appendTo(row);
        
        row.appendTo("#rooms");
      });
      
      if (data.length == 0) {
        $("<p>Keine R&auml;ume offen.</p>").appendTo("#rooms");
      }
    });
  };

  $(function() {
    inheritStyle();
    refresh();
    setInterval(function() {
      refresh();
    }, 10000);
  });
</script>

<style>
  body {
    background-color: #363636 !important;
  }

  div {
    background-color: #363636;
    color: var(--text-subtitle);
  }

  .outer {
    padding: 8px;
  }

  a {
    color:  var(--highlight-secondary) !important;
  }

  a:hover {
    color:  var(--highlight-hover) !important;
  }
</style>

</head>

<body>
<div class="outer">
  <div id = "rooms"></div>
</div>
</body>

</html>