version: '3'

volumes:
  nextcloud:

services:
  nextcloud:
    image: nextcloud:{{ nextcloud_version }}
    container_name: nextcloud
    restart: unless-stopped
    volumes:
      - nextcloud:/var/www/html
    environment:
      - VIRTUAL_HOST=
      - LETSENCRYPT_HOST=
      - LETSENCRYPT_EMAIL=
      - OBJECTSTORE_S3_HOST=s3.eu-central-1.amazonaws.com
      - OBJECTSTORE_S3_BUCKET={{ s3_bucket_name }}
      - OBJECTSTORE_S3_KEY={{ s3_access_key_id }}
      - OBJECTSTORE_S3_SECRET={{ s3_access_key_secret }}
      - OBJECTSTORE_S3_REGION=eu-central-1
      - OVERWRITEPROTOCOL=https

  collabora:
    image: collabora/code:{{ collabora_version }}
    container_name: collabora
    environment:
      - domain={{ next_domain }}
      - extra_params=--o:ssl.enable=true
    restart: unless-stopped

  swag:
    image: ghcr.io/linuxserver/swag
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      - URL={{ next_domain }}
      - VALIDATION=http
    volumes:
      - {{ home }}/nextcloud/config:/config
    volumes_from:
      - nextcloud
    ports:
      - 443:443
      - 80:80
      - 9980:9980
    restart: unless-stopped
    depends_on:
      - nextcloud
      - collabora
