map $http_upgrade $connection_upgrade {
        default upgrade;
        ''      close;
}
server {
        server_name {{ next_domain }};

        location / {
                proxy_pass http://nextcloud:80;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
        }

        listen [::]:443 ssl http2;
        listen 443 ssl http2;
        ssl_certificate /config/etc/letsencrypt/live/{{ next_domain }}/fullchain.pem;
        ssl_certificate_key /config/etc/letsencrypt/live/{{ next_domain }}/privkey.pem;

        # static files
        location ^~ /browser {
                proxy_pass https://collabora:9980;
                proxy_set_header Host $http_host;
        }

        # WOPI discovery URL
        location ^~ /hosting/discovery {
                proxy_pass https://collabora:9980;
                proxy_set_header Host $http_host;
        }

        # Capabilities
        location ^~ /hosting/capabilities {
                proxy_pass https://collabora:9980;
                proxy_set_header Host $http_host;
        }

        # main websocket
                location ~ ^/cool/(.*)/ws$ {
                proxy_pass https://collabora:9980;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "Upgrade";
                proxy_set_header Host $http_host;
                proxy_read_timeout 36000s;
        }

        # download, presentation and image upload
        location ~ ^/(c|l)ool {
                proxy_pass https://collabora:9980;
                proxy_set_header Host $http_host;
        }

        # Admin Console websocket
                location ^~ /cool/adminws {
                proxy_pass https://collabora:9980;
                proxy_set_header Upgrade $http_upgrade;
                proxy_set_header Connection "Upgrade";
                proxy_set_header Host $http_host;
                proxy_read_timeout 36000s;
        }
}
