version: '3'
services:
  keycloak:
    image: quay.io/keycloak/keycloak:{{ keycloak_version }}
    container_name: keycloak
    command: ["-Dkeycloak.profile=preview", "-Dkeycloak.profile.feature.declarative_user_profile=enabled"]
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD={{ keycloak_password }}
      - PROXY_ADDRESS_FORWARDING=true
      - DB_VENDOR=postgres
      - DB_ADDR={{ db_host }}
      - DB_DATABASE={{ db_keycloak_database }}
      - DB_USER={{ db_keycloak_username }}
      - DB_PASSWORD={{ db_keycloak_password }}
      - KEYCLOAK_IMPORT=/opt/jboss/keycloak/realm-export.json
    ports:
      - 8080:8080
    volumes:
      - {{ home }}/keycloak/realm-export.json:/opt/jboss/keycloak/realm-export.json
      - {{ home }}/keycloak/custom:/opt/jboss/keycloak/themes/custom
    restart: unless-stopped

  swag:
    image: ghcr.io/linuxserver/swag
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      - URL={{ auth_domain }}
      - VALIDATION=http
    volumes:
      - {{ home }}/keycloak/config:/config
    ports:
      - 443:443
      - 80:80
    restart: unless-stopped
    depends_on:
      - keycloak
