version: '3'
services:
  app:
    image: quay.io/hedgedoc/hedgedoc:{{ hedgedoc_version }}
    environment:
      - CMD_DB_URL=postgres://{{ db_hedgedoc_username }}:{{ db_hedgedoc_password }}@{{ db_host }}:5432/{{ db_hedgedoc_database }}
      - CMD_DOMAIN=localhost
      - CMD_URL_ADDPORT=true
      - CMD_DOMAIN={{ collab_domain }}
      - CMD_PORT=80
      - CMD_ALLOW_ANONYMOUS_EDITS=true
      - CMD_SESSION_SECRET={{ hedgedoc_session_secret }}
    ports:
      - "80:80"
    restart: always
