version: '3'
services:
  hedgedoc:
    image: quay.io/hedgedoc/hedgedoc:{{ hedgedoc_version }}
    container_name: hedgedoc
    environment:
      - CMD_DB_URL=postgres://{{ db_hedgedoc_username }}:{{ db_hedgedoc_password }}@{{ db_host }}:5432/{{ db_hedgedoc_database }}
      - CMD_DOMAIN=localhost
      - CMD_DOMAIN={{ collab_domain }}
      - CMD_PORT=3000
      - CMD_PROTOCOL_USESSL=true
      - CMD_SESSION_SECRET={{ hedgedoc_session_secret }}
      - CMD_OAUTH2_USER_PROFILE_URL=https://{{ auth_domain }}/auth/realms/kink/protocol/openid-connect/userinfo
      - CMD_OAUTH2_USER_PROFILE_USERNAME_ATTR=preferred_username
      - CMD_OAUTH2_USER_PROFILE_DISPLAY_NAME_ATTR=name
      - CMD_OAUTH2_USER_PROFILE_EMAIL_ATTR=email
      - CMD_OAUTH2_TOKEN_URL=https://{{ auth_domain }}/auth/realms/kink/protocol/openid-connect/token
      - CMD_OAUTH2_AUTHORIZATION_URL=https://{{ auth_domain }}/auth/realms/kink/protocol/openid-connect/auth
      - CMD_OAUTH2_CLIENT_ID=hedgedoc
      - CMD_OAUTH2_CLIENT_SECRET={{ keycloak_hedgedoc_secret }}
      - CMD_OAUTH2_PROVIDERNAME=Keycloak
      - CMD_EMAIL=false
      - CMD_ALLOW_EMAIL_REGISTER=false
      - CMD_ALLOW_ANONYMOUS=false
      - CMD_ALLOW_ANONYMOUS_EDITS=true
    ports:
      - 3000:3000
    restart: unless-stopped

  swag:
    image: ghcr.io/linuxserver/swag
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
      - URL={{ collab_domain }}
      - VALIDATION=http
    volumes:
      - {{ home }}/hedgedoc/config:/config
    ports:
      - 443:443
      - 80:80
    restart: unless-stopped
    depends_on:
      - hedgedoc
