domain: ${domain}
collab_domain: "collab.{{ domain }}"
auth_domain: "auth.{{ domain }}"
matrix_domain: "matrix.{{ domain }}"
element_domain: "element.{{ domain }}"
jitsi_domain: "jitsi.{{ domain }}"
www_domain: "www.{{ domain }}"
s3_bucket_name: ${bucket_name}

bastion_host: "bastion.{{ domain }}"
collab_host: ${collab}
db_host: ${db}
auth_host: ${auth}
matrix_host: ${matrix}
www_host: ${www}
